/* Style Map */
/* Default CSS */
*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}
html {
	font-family: Tahoma;
	font-size: 12px;
}
ul, ol, li {
	list-style: none;
}
a {
	text-decoration: none;
}
h2 {
	color: #c5031e;
	font-size: 22px;
	font-weight: lighter;
}
p {
	color: #474747;
	font-size: 12px;
	line-height: 18px;
}
#wrapper {
	float: left;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
/* Header */
#header {
	float: left;
	position: fixed;
	top: 0;
	width: 100%;
	background: none repeat scroll 0 0 #0958A7;
}
#header .logo {
	float: left;
}
#header .logo img {
	float: left;
	height: 40px;
	padding: 0 20px;
}
#header .search_box {
	float: left;
	margin: 10px 0 0 40px;
	width: 35%;
}
#header .search_box input[type="text"] {
	float: left;
	width: 65%;
	border: none;
	padding: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
#header .search_box a {
	float: left;
	margin: 5px 10px 0;
	color: #cecece;
	font-size: 12px;
}
#header .search_box a:hover {
	color: #ffffff;
}
#header .search_box input[type="submit"] {
	display: none !important;
}
#header .nav .menu,
#header .nav .menu li {
	float: left;
}
#header .nav {
	float: right;
	margin-right: 10%;
}
#header .nav .menu > li > a {
	float: left;
	display: block;
	padding: 14px 30px 15px;
	color: #cecece;
	font-size: 16px;
	text-transform: uppercase;
}
#header .nav .menu > li > a:hover,
#header .nav .menu > li.current-menu-item > a {
	color: #ffffff;
	background-color: #D2C8DB;
}
/* ------------ */
/* Content */
/* All */
#content {
	float: left;
	width: 100%;
	padding-top: 50px;
}
#content .left_col,
#content .main_col,
#content .right_col {
	min-height: 500px;
}
#content .left_col,
#content .right_col {
	background-color: #a0c3ff;
}
#content .left_col,
#content .main_col {
	float: left;
}
#content .col_title {
	float: left;
	width: 100%;
	padding: 10px;
}
#content .col_content {
	float: left;
	width: 100%;
	padding: 10px 5px;
}
/* Left Column */
#content .left_col {
	width: 20%;
	padding-right: 1%;
	border-right: 1px solid #b8b8b8;
}
#content .left_col .map_option_block {
	float: left;
	width: 100%;
	padding: 10px 20px;
}
#content .left_col .map_option_block fieldset {
	border: none;
}
#content .left_col .map_option_block legend {
	color: #474747;
	font-size: 16px;
	text-transform: uppercase;
}
#content .left_col .map_option_block p {
	color: #474747;
	line-height: 25px;
}
#content .left_col .map_option_block p input {
	vertical-align: middle;
}
#content .left_col .map_option_block label:hover {
	color: #000000;
	background-color: 
}
#content .left_col .map_option_block label:after {
	content: " ";
	clear: both;
	display: block;
}
#content .left_col .map_option_block input[type="radio"] {
	appearance: checkbox;
	-webkit-appearance: checkbox;
	-moz-appearance: checkbox;
	-ms-appearance: checkbox;
	-o-appearance: checkbox;
}
#map_info {
	float: left;
	width: 100%;
	min-height: 50px;
}
.map_option_block #map_info p {
	color: #111111;
}
#content .left_col .map_option_block .search-result,
#content .left_col .map_option_block .search-result li {
	float: left;
	width: 100%;
}
#content .left_col .map_option_block .search-result li a {
	float: left;
	width: 100%;
	padding: 5px;
	margin: 2px 0;
	background-color: #cecece;
}
/* Main Column */
#content .main_col {
	width: 80%;
	margin: 0;
}
#content .main_col #map {
	float: left;
	width: 100%;
	height: 100%;
}
#content .main_col #responseText {
	float: left;
	position: fixed;
	z-index: 100000;
	width: 100%;
	bottom: 20px;
	margin: 0 auto;
	padding: 0 20px;
	background-color: #cecece;
}
/* Right Column */
#content .right_col {
	float: left;
	position: fixed;
	width: 30%;
	top: 50px;
	right: -30%;
	z-index: 10;
	border-left: 1px solid #b8b8b8;
}
#content .right_col .col_title {
	float: left;
	height: 64px;
	position: relative;
}
#content .right_col .col_title #close_charts_col {
	position: absolute;
	top: 0;
	right: 0;
	width: 64px;
	height: 64px;
	z-index: 100001;
	background: url('../images/close.png') top left no-repeat;
	cursor: pointer;
	cursor: hand;
}
/* ------------- */
/* Footer */
#footer {
	float: left;
	position: fixed;
	width: 100%;
	bottom: 0px;
	background: none repeat scroll 0 0 #8B898C;
}
#footer p {
	text-align: center;
	color: #cecece;
	font-size: 10px;
	line-height: 20px;
}
#footer p:hover {
	color: #ffffff;
}
/* ----------- 