/* Name: style.css */
/* Reset CSS */
*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	border: none;
}
body {
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	color: #444444;
	line-height: 20px;
}
h1 {
	font-size: 26px;
	line-height: 35px;
}
h2 {
	font-size: 20px;
	line-height: 30px;
}
h3 {
	font-size: 16px;
	line-height: 25px;
}
p {
	font-size: 13px;
	line-height: 18px;
}
a, a:visited {
	color: #1155ff;
	text-decoration: none;
}
ol, ul , li {
	list-style: none outside none;
}
input {
	padding: 5px;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.hidden {
    display: none;
}
/* Grid */
.grid-1, .grid-1-16, .grid-1-8, .grid-1-4, .grid-2, .grid-3, .grid-3-4, .grid-3-16, .grid-4 {
	float: left;
	padding: 0 10px;
}
.grid-1 {
	width: 33.333333%;
}
.grid-1-16 {
	width: 6.25%;
}
.grid-1-8 {
	width: 12.5%;
}
.grid-1-4 {
	width: 25%;
}
.grid-2 {
	width: 50%;
}
.grid-3 {
	width: 66.666666%;
}
.grid-3-4 {
	width: 75%;
}
.grid-3-16 {
	width: 18.75%;
}
.grid-4 {
	width: 100%;
}
.row {
	float: left;
	display: block;
	width: 100%;
	margin: 20px 0;
}
.container {
	float: left;
	width: 100%;
	padding: 10px;
}
.div-title {
	padding: 0 10px;
}
.the-content {
	width: 100%;
	padding: 10px 5px;
}
.has-border {
	border: 1px solid #b8b8b8;
}
.has-border-radius {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.button, a.button, a:visited.button {
	padding: 5px 10px;
	color: #f1f1f1;
	background-color: #999999;
	cursor: pointer;
	cursor: hand;
}
.button:hover, a:hover.button, a:hover.button {
	color: #ffffff;
	background-color: #111111;
}
span.required {
	color: #ff0000;
}
span.required:after {
	content: " *";
}
/* Page */
#wrapper {
	width: 100%;
}
#header {
	width: 100%;
	max-height: 32px;
	padding: 0 5px;
	background-color: #222222;
}
#header .logo {
	padding: 0 20px 0 5px;
	max-height: 32px;
}
#header .top_menu li {
	float: left;
	position: relative;
	padding: 6px 0;
}
#header .top_menu li a {
	color: #f1f1f1;
	padding: 0 10px;
}
#header .top_menu li:hover {
	color: #ffffff;
	background-color: #000000;
}
#header .user_menu {
	padding: 6px 0 0;
}
#header .user_menu a {
	color: #f1f1f1;
	padding: 7px 10px;
}
#header .user_menu a:hover {
	color: #ffffff;
	background-color: #000000;
}
#header .search_box {
	margin-right: 30px;
	margin-top: 3px;
}
/* ------------ */
/* Content */
/* All */
#content {
	float: left;
	width: 100%;
}
#content .left_col,
#content .main_col,
#content .right_col {
	min-height: 500px;
}
#content .left_col,
#content .right_col {
	background-color: #a0c3ff;
}
#content .left_col,
#content .main_col {
	float: left;
}
#content .col_title {
	float: left;
	width: 100%;
	padding: 10px;
}
#content .col_content {
	float: left;
	width: 100%;
	padding: 10px 5px;
}
/* Left Column */
#content .left_col {
	width: 20%;
	position: relative;
	padding-right: 1%;
	border-right: 1px solid #b8b8b8;
}
#content .left_col .map_option_block {
	float: left;
	width: 100%;
	padding: 10px 20px;
}
#content .left_col .map_option_block fieldset {
	border: none;
}
#content .left_col .map_option_block legend {
	color: #474747;
	font-size: 16px;
	text-transform: uppercase;
}
#content .left_col .map_option_block p {
	color: #474747;
	line-height: 25px;
}
#content .left_col .map_option_block p input {
	vertical-align: middle;
}
#content .left_col .map_option_block label:hover {
	color: #000000;
	background-color: 
}
#content .left_col .map_option_block label:after {
	content: " ";
	clear: both;
	display: block;
}
#content .left_col .map_option_block input[type="radio"] {
	appearance: checkbox;
	-webkit-appearance: checkbox;
	-moz-appearance: checkbox;
	-ms-appearance: checkbox;
	-o-appearance: checkbox;
}
#map_info {
	float: left;
	width: 100%;
	min-height: 50px;
}
.map_option_block #map_info p {
	color: #111111;
}
#content .left_col .map_option_block .search-result {
	max-height: 300px;
	overflow-y: scroll;
}
#content .left_col .map_option_block .search-result,
#content .left_col .map_option_block .search-result li {
	float: left;
	width: 100%;
}
#content .left_col .map_option_block .search-result li a {
	float: left;
	width: 100%;
	padding: 5px;
	margin: 2px 0;
	background-color: #cecece;
}
#content .left_col p.footer {
	position: absolute;
	bottom: 0;
	font-size: 11px;
	color: #f1f1f1;
	padding: 5px 10px;
}
/* Main Column */
#content .main_col {
	width: 80%;
	margin: 0;
}
#content .main_col #map {
	float: left;
	width: 100%;
	height: 100%;
}
#content .main_col #responseText {
	float: left;
	position: fixed;
	z-index: 100000;
	max-height: 250px;
	overflow-x: hidden;
	overflow-y: scroll;
	bottom: 0;
	margin: 0 auto;
	border-top: 2px solid #474747;
	background-color: #cecece;
}
/* Right Column */
#content .right_col {
	float: left;
	position: fixed;
	width: 30%;
	top: 50px;
	right: -30%;
	z-index: 10;
	border-left: 1px solid #b8b8b8;
}
#content .right_col .col_title {
	float: left;
	height: 64px;
	position: relative;
}
#content .right_col .col_title #close_charts_col {
	position: absolute;
	top: 0;
	right: 0;
	width: 64px;
	height: 64px;
	z-index: 100001;
	background: url('../images/close.png') top left no-repeat;
	cursor: pointer;
	cursor: hand;
}
/* ------------- */
/* Footer */
#footer {
	float: left;
	position: fixed;
	width: 100%;
	bottom: 0px;
	background: none repeat scroll 0 0 #8B898C;
}
#footer p {
	text-align: center;
	color: #cecece;
	font-size: 10px;
	line-height: 20px;
}
#footer p:hover {
	color: #ffffff;
}
/* ----------- */
table.featureInfo {
	width: 70%;
	margin: 0 auto !important;
}
table.featureInfo td {
	text-align: center;
	font-size: 13px !important;
}